h6 {
    font-size: 10px;
    color:rgb(160, 17, 17);
  }
  
  }
  .name{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: medium;
      color: black;
  }
  .name:hover{
      text-shadow: 2px 2px cornsilk;
      border-style: groove;
      filter: blur(1px);
      -webkit-filter: blur(1px);
  }
.stageDirection {
    background-color: rgb(134, 151, 78);
    font-size: 10px;
    color: rgba(182, 182, 161, 0.959);

  }
.stageDirection{
    background-color: blanchedalmond;
    width: auto;
}
.stageDirection:hover {
    background-color: rgb(26, 26, 21);
    color:rgb(56, 49, 49);
  }
.speech{
    font-size: 10px;
    color: rgb(160, 31, 106);  
  }

.LORDDARLINGTON{
    color:rgb(18, 151, 204);
}
.LADYWINDERMERE{
    color:rgb(185, 212, 27);
}

td {
    border: 1px solid rgba(112, 184, 130, 0.767);
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  th {
    border: 1px solid rgba(194, 65, 108, 0.527);
    text-align: left;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  table {
    border-collapse: collapse;
    width: 70%;
  }
  th,
  td {
    padding: 12px;
  }
  .combine {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  
  ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:rgba(182, 182, 161, 0.959);
  }
  
  ul.navbar-horizontal a {
    display:block;
    padding:8px
  }
  
  ul.navbar-horizontal a:hover {  
    background-color: #555;
    color:white;
  }